In [1]:
import pandas as pd
import numpy as np 
import json

In [4]:
data = pd.read_json("tweet_insight.json", lines=True)

In [5]:
data

,creation_date,n_tweets,n_conversation,alura_conversation,reply_alura,weekday
0,2021-12-14,39,21,0,5,Tue
1,2021-12-10,48,30,3,3,Fri
2,2021-12-12,2,2,0,0,Sun
3,2021-12-11,13,12,1,3,Sat
4,2021-12-13,19,16,0,1,Mon
5,2021-12-15,7,6,0,2,Wed
6,2021-12-09,20,20,0,1,Thu